<mat-card class="accout_wrapper login-card" style=" min-width: 558px;

 min-height:346px;
 width: auto;">
    <div class="logo_blk"><img src="assets/images/book.jpg" alt=""></div>
  <div class="header-card">
    <h2>Login</h2>
    <p>Please Enter User Details</p>
  </div>

  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid&&login()">
      <mat-form-field>
        <input matInput required placeholder="Email Address" name="username" formControlName="email">
        <mat-error *ngIf="loginForm['controls']['email']['errors']">
          {{getValidationError(loginForm['controls']['email'],'email')}} please enter a email</mat-error>
        <mat-icon matPrefix>mail</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Password" formControlName="password" [type]="hide ? 'password' :
          'text'">
        <mat-error *ngIf="loginForm['controls']['password']['errors']">
          {{getValidationError(loginForm['controls']['password'],'password')}} please enter a password</mat-error>
        <mat-icon matPrefix>vpn_key</mat-icon>
        <mat-icon matSuffix (click)="hide= !hide">{{hide ? 'visibility_off' :
          'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-card-actions class="text-center">
        <button mat-raised-button type="submit" color="primary" >Login</button>
        <button mat-button type="button" class="forgor_password" >Forgot
          Password</button>
      </mat-card-actions>
      <div>
        <span class="text-left">Don't have an account?</span>
        <button mat-button type="button" class="forgor_password" (click)="signUp()">SIGN UP
          NOW</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>