/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

img{max-width: 1000%;max-height: 100%;}
$thm_clr : #2e2e2e;
$thm_clr_blue: #5459f9;
$thm_clr_light : rgba($thm_clr, 0.1);
.icon{
    margin-bottom: 20px;
      img{
          max-width: 60px;
          height: 60px;
          margin: 0 auto;
      }
  }